{% extends 'base.html.twig' %}

{% block header_title %}<h1>Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
        {{ form_start(form, {'action' : path('user_create')}) }}
        <div class="form-group">
            <label>Nom d'utilisateur :</label>
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label>Mot de passe :</label>
            {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label>Tapez le mot de passe à nouveau :</label>
            {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label>Adresse email :</label>
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label>Roles :</label>
            {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
        </div>

        <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        {{ form_end(form) }}
{% endblock %}
